.main {
  min-height: 100vh;
  padding: 2rem 0;
}

.title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 4rem;
  color: #424242;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
